# macos
.DS_Store

# Data directory
data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Scrapy
.scrapy